/*GLOBAL STYLES*/

@import '_variables.scss';
$colorAccent: #0abab5;
body {
  font-family: 'Montserrat', sans-serif; //400, 700
  color: white;
  background-color: black;
}

.background-image {
  background-image: url("/images/stock-photo-fountain-315631490.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Square Background Veil: */

.main-info {
  background-color: rgba(10, 186, 181, .5);
  text-align: center;
  margin-top: 135px;
  position: relative;
  h3 {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2.4px;
    line-height: 34px;
    text-transform: uppercase;
  }
  h1 {
    font-weight: bold;
    font-size: 130px;
  }
  h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  }
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
  }
  .main-info-content {
    padding: 45px;
  }
}

.social-info {
  background-color: black;
  position: relative;
  top: -58px;
  margin-bottom: 80px;
  p {
    text-align: center;
  }
  .social-info-content {
    padding: 30px;
  }
}

.social-logins {
  margin: 40px 0 20px;
  .btn {
    width: 80%;
    margin-bottom: 10px;
    display: inline-block;
    &.facebook {
      background-color: $color-facebook;
      &:hover {
        background-color: lighten($color-facebook, 10);
      }
    }
    &.twitter {
      background-color: $color-twitter;
      &:hover {
        background-color: lighten($color-twitter, 10);
      }
    }
  }
}

.input-field {
  text-transform: uppercase;
}

.countdown-clock {
  background-color: black;
  .countdown-title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: $color-link;
    margin-top: 60px;
  }
  .clock-display {
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .clock-components {
    text-align: center;
    font-size: 120px;
    margin-top: 60px;
    .clock-unit-label {
      font-size: 24px;
      margin-top: -20px;
    }
    .clock-days {
      border-right: 2px solid $colorAccent;
      padding: 8px;
      margin-bottom: 100px;
      padding-bottom: 42px;
    }
    .clock-hours {
      border-right: 2px solid $colorAccent;
      padding: 8px;
      margin-bottom: 100px;
      padding-bottom: 42px;
    }
    .clock-minutes {
      border-right: 2px solid $colorAccent;
      padding: 8px;
      margin-bottom: 100px;
      padding-bottom: 42px;
    }
  }
  .countdown-credit {
    padding: 0 85px;
    text-align: center;
    margin-bottom: 40px;
  }
}

.sponsors {
  background-color: white;
  color: #040404;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  img.iron-yard-logo {
    max-width: 150px;
    max-height: 150px;
  }
  .3cdc-sponsor {
    margin-top: 30px;
  }
  i {
     padding: 20px;
     color: #D8D8D8;
     font-size: 23px;
  }
}

