/*GLOBAL STYLES*/

$colorAccent: #0abab5;
body {
     font-family: 'Roboto', sans-serif; //400,400i,700,900
     color: white;
     background-color: black;
}

.background-image {
     background-image: url("/images/stock-photo-fountain-315631490.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}


/* Square Background Veil: */

.main-info {
     background-color: rgba(10, 186, 181, .5);
     text-align: center;
     margin-top: 200px;
     position: relative;
     img {
          color: #fff;
          margin-left: -93px;
          max-width: 77%;
     }
     h3 {
          letter-spacing: 4.4px;
          line-height: 48px;
          font-weight: 700;
          font-size: 41px;
          text-transform: uppercase;
     }
     h1 {
          font-weight: bold;
          font-size: 130px;
     }
     h6 {
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
          text-transform: uppercase;
     }
     p {
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
     }
     .main-info-content {
          padding: 45px 45px 130px;
     }
}

.social-info {
     background-color: black;
     position: relative;
     top: -135px;
     p {
          text-align: center;
     }
     .social-info-content {
          padding: 30px;
     }
}

.social-logins {
     margin: 40px 0 20px;
     .btn {
          width: 80%;
          margin-bottom: 10px;
          display: inline-block;
          &.facebook {
               background-color: $color-facebook;
               &:hover {
                    background-color: lighten($color-facebook, 10);
               }
          }
          &.twitter {
               background-color: $color-twitter;
               &:hover {
                    background-color: lighten($color-twitter, 10);
               }
          }
     }
}

.input-field {
     text-transform: uppercase;
}

.countdown-clock {
     background-color: black;
     height: 500px;
}

.sponsors {
     background-color: white;
     height: 300px;
}
