// --------------------------------------------------
// Variables
// --------------------------------------------------

// Temporary color values
$color-success: green;
$color-error: 	red;
$color-warn: 		orange;
$color-info: 		blue;

// Social Media Colors
$color-facebook: 	#3b5998;
$color-twitter: 	#55acee;