@import '_variables.scss';

// general text colors
body{
	background-color: $color-background;

	h1, h2, h3, h4, h5, p{
		color: #f7f7f7;
		line-height: 1.4em;
	}

	p{
		font-size: 1.6rem;
	}

	h2{
		text-align: center;
		font-weight: 300;
		color: $color-accent;
		text-transform: uppercase;
		letter-spacing: 5px;
	}

	h4{
		font-weight: 300;
		text-align: center;
	}
}
// general text colors

// layout styles
.header{
	background-color: $color-primary3;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	color: white;
	z-index: 999999;

	.headerList{
		margin-right: 20px;
		margin-top: 0;
		li{
			text-transform: uppercase;
			color: $color-text;
			display: inline-block;
			margin-left: 40px;
			letter-spacing: 3px;
			p{
				font-size: 1.2rem;
			}

			a{
				color: $color-text;
				font-size: 1.2rem;
			}
		}
	}
}

.container{
	margin-top: 100px;
}

#projectDescription{
	padding-bottom: 80px;
	border-bottom: 2px solid $color-primary1;
	margin-bottom: 80px;
}

.person{

	.description{
		text-align: center;

		p{
			font-weight: 300;
		}

		.links{
			margin-bottom: 80px;

			a{
				color: $color-primary3;
				font-weight: 500;
				font-size: 1.4rem;

				&:hover{
					color: lighten($color-primary3, 25%);
				}
			}
		}
	}

	.headshot{
		background-size: cover;
		background-position: center;
		height: 18rem;
		padding: 1.2rem;
		margin-left: 15%;
		margin-right: 15%;
		// border-radius: 5px;

  	}
}
// layout styles

// links headshot images
.tom{
	.headshot{
		background-image: url('../images/tom.jpg');
	}
}

.john{
	.headshot{
		background-image: url('../images/john.jpg');
	}
}

.kristie{
	.headshot{
		background-image: url('../images/kristie.jpg');
	}
}

.michael{
	.headshot{
		background-image: url('../images/michael.jpg');
	}
}
// links headshot images

// layout styling on screen less than 600px
@media (max-width: 600px){
	h2{
		text-align: center;
	}

	.person{
		padding: 20px 0;

		.headshot{
			margin-left: 15%;
			margin-right: 15%;
		}

		.description{
			text-align: center;

			p{
				font-size: 1.2rem;
				font-weight: 300;
			}

			.links{
				margin: 10px auto;
				margin-bottom: 80px;

				a{
					text-align: center;
				}
			}
		}
	}

}
// layout styling on screen less than 600px