@import 'bourbon/bourbon';
@import '_variables.scss';
@import '_clock.scss';




// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin displayInlineBlock() {
	display: inline-block;
	vertical-align: top;
}



// --------------------------------------------------
// Global Styles
// --------------------------------------------------
* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6em;
}

img {
	max-width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Toast Styles
.toast-success {
	background-color: $color-success;
}

.toast-error {
	background-color: $color-error;
}

.toast-info {
	background-color: $color-info;
}

.toast-warning {
	background-color: $color-warn;
}

.input-error {
	font-size: 0.8em;
	color: $color-error;
	position: absolute;
	bottom: 0;
}

.modal-content {
	color: $color-dark;
}

.logout {
	cursor: pointer;
}

// Form invalid styles
form {
	input,
	textarea,
	input[type=text]:focus:not([readonly]),
	input[type=password]:focus:not([readonly]),
	input[type=email]:focus:not([readonly]),
	input[type=url]:focus:not([readonly]),
	input[type=time]:focus:not([readonly]),
	input[type=date]:focus:not([readonly]),
	input[type=datetime]:focus:not([readonly]),
	input[type=datetime-local]:focus:not([readonly]),
	input[type=tel]:focus:not([readonly]),
	input[type=number]:focus:not([readonly]),
	input[type=search]:focus:not([readonly]) {
	 	&.ng-dirty {
			&.ng-invalid {
				border-bottom: 1px solid $color-error;
				box-shadow: 0 1px 0 0 $color-error;
			}
		}
	}
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}




// --------------------------------------------------
// Header Styles
// --------------------------------------------------
@import '_header.scss';



// --------------------------------------------------
// Login & Signup Styles
// --------------------------------------------------
@import '_login-signup.scss';



// --------------------------------------------------
// Footer Styles
// --------------------------------------------------
@import '_footer.scss';



// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';