@import '_variables.scss';

body{
	background-color: $color-background;

	h1,h2,h3,h4,h5,p{
		color: $color-text;
	}

	a{
		color: $color-link;

		&:hover{
			color: $color-link-hover;
		}
	}
}

#clock, #currentQuestion{
	text-align: center;
}


#clock{
	margin-top: 1.8rem;

	h4{
		font-size: 1.6rem;
		margin-bottom: 0;
	}

	#clockdiv{
		color: $color-link;
		font-weight: 300;
	}
}

#currentQuestion{
	margin-top: 40px;

	h4{
		font-size: 1.5rem;
		margin-bottom: 2px;
	}

	#countdown{
		width: 100%;
		height: 8px;
		border-radius: 20px;
		margin: 20px auto;
		background-color: $color-link;
	}

	#answers{
		margin: 14px auto;
		width: 80%;

		.collection{
			
			.collection-item{
				background-color: $color-background;
				border-color: $color-text;

			}

			a{
				text-align: left;
				color: $color-text;
				&:focus{
					color: $color-link;
				}
			}
		}

		#button{
			float: left;
			background-color: $color-link;

			&:active{
				color: darken($color-link, 20%)
			}
		}
	}
}

#previousQuestions{
	margin-top: 2.5rem;

	.collapsible{

		.collapsible-header{
			background-color: $color-background;
			color: $color-text;

			&:focus{
				color: $color-link;
			}
		}

		.collection{

			.collection-item{
			background-color: $color-background;
			}
		}
	}

	h4{
		font-size: 1.5rem;
		text-align: center;
	}
}