@import '_variables.scss';

body{
	background-color: $color-background;

	h1,h2,h3,h4,h5,p{
		color: $color-text;
	}

}
.topBlock{
	background-color: $color-primary2;
}

.no-margin {
	margin: 0;
}

.question-block-wrapper {
	
	.question-block {

	}
}

.twitter-timeline-wrapper {
	padding-top: 60px !important;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.header{
	background-color: $color-accent;
	height: 60px;
	width: 100%;
	color: white;
	z-index: 999999;

	.headerList{
		margin-right: 20px;
		margin-top: 0;
		li{
			font-size: 1.2rem;
			text-transform: uppercase;
			color: $color-text;
			display: inline-block;
			margin-left: 20px;
			padding: 18px 0;
			font-weight:500;
			letter-spacing: 1px;
			a{
				color: invert($color-text);
			}
		}
	}
}

#clock, #currentQuestion{
	text-align: center;
}


#clock{
	background-color: $color-primary2;
	color: $color-text;
	padding: 40px 0;
	padding-top: 20px;

	h4{
		font-size: 1.4rem;
		margin-bottom: -12px;
		letter-spacing: 3px;
		color: $color-accent;
		text-transform: uppercase;
	}

	.clock-components {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 500;
    margin-top: 20px;
    width: 30%;
    display: inline-block;
}
  .clock-unit-label {
    font-size: 1.2rem;
		letter-spacing: 1px;
    font-weight: 400;
    margin-right: -5px;
  }
  .clock-days {
    border-right: 2px solid $color-primary3;
    padding: 8px;
    margin-bottom: 20px;
    display: none;
  }
  .clock-hours {
    border-right: 2px solid $color-primary3;
    padding: 8px;
    margin-bottom: 20px;
  }
  .clock-minutes {
    border-right: 2px solid $color-primary3;
    padding: 8px;
    margin-bottom: 20px;
  }
  .clock-seconds {
    padding: 8px;
    margin-bottom: 20px;
  }
  .clock-divider {
    vertical-align: text-bottom;
  }

	#social{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;

		i{
			font-size: 1.2rem;
			margin-right: 10px;
		}

		.twitter{
			display: block;
			width: 80%;
			margin-bottom: 8px;
			margin-right: auto;
			margin-left: auto;
			// background-color: $color-twitter;
			border-radius: 10px;
		}

		.facebook{
			display: inline-block;
			background-color: $color-facebook;
			border-radius: 10px;
		}
	}
}

#currentQuestion{
	margin-top: 40px;

	h3{
		font-size: 1.5rem;
		letter-spacing: 3px;
		color: $color-accent;
	}

	h4{
		font-size: 1.7rem;
		letter-spacing: 3px;
	}

	h5{
		font-size: 1.2rem;
		margin-bottom: 2px;
		font-weight: 300;
	}

	p{
		font-weight: 300;
		margin-bottom: -10px;
		font-size: 0.8rem;
	}

	#countdown{
		width: 100%;
		height: 8px;
		border-radius: 20px;
		margin: 20px auto;
		background-color: $color-link;
	}

	#answers{
		margin: 20px auto;
		margin-bottom: 80px;
		width: 90%;

		li{
			display: block;
			margin: 20px;
			background-color: $color-primary2;
			overflow: visible !important;
			height: auto;
			line-height: 1.4rem;
			padding: 10px;
			border-radius: 10px;

			&:active{
				background-color: $color-accent;

				a{
					color: $color-primary2;
					font-weight: 500;
				}
			}

			a{
				color: $color-text; 
			}
		}

	}
}

.option {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  background-color: rgba(white, 0.06);
  margin-bottom: 5px;
  position: relative;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &:last-child {
  	margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  .option-text,
  .option-percentage {
  	padding: 4px 0;
  }

  .option-text {
    width: 75%;
    padding-left: 15px;
    float: left;
    position: relative;
    z-index: 10;
  }

  .option-percentage {
    width: 25%;
    text-align: right;
    padding-right: 15px;
    float: right;
    position: relative;
    z-index: 10;
  }

  .option-bg {
    width: 0px;
    height: 4px;
    background-color: rgba($color-accent, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#previousQuestions{
	background-color: lighten(black, 10);
	padding: 2.5rem 0 4rem;

	.collapsible{

		.collapsible-header{
			background-color: rgba(white, 0.06);
			color: darken(white, 40);
			border-bottom: 1px solid lighten(black, 30);

			&:last-child {
				border-bottom: none;
			}

			&:hover{
				background-color: $color-primary3;
			}
			&.active{
				background-color: darken($color-primary3, 5%);

				p{
					color: darken($color-text, 5%);
				}
			}
		}

		.collection{

			.collection-item{
			border: none;

			}
		}
	}

	h4{
		font-size: 1.5rem;
		text-align: center;
		color: darken(white, 40);
	}
}

@media(min-width: 700px){
	#clock{
		padding-top: 60px;

		h4{
			font-size: 3rem;
		}

		.clock-components{
			font-size: 8rem;
		}

		.clock-unit-label{
			font-size: 2rem;
		}

		#social{
			width: 50%;

			a{
				font-size: 1.4rem;
				padding: 5px 15px;
				height: auto !important;

				i{
					font-size: 1.4rem;
				}
			}
		}
	}

	#currentQuestion{
		h3{
			font-size: 3.4rem;
		}

		h4{
			font-size: 2.4rem;
		}

		h5{
			font-size: 1.6rem;
		}

		#answers{
			li{
				font-size: 1.4rem;
				padding: 15px;
			}
		}
	}
}