<head>
	<meta http-equiv="refresh" content="2;URL='http://google.com'" />
</head>
<H3>Homepage Redirect</H3>

If you are not redirected automatically, follow the <a href="{{basename}}/index.html">{{basename}}</a>