<div class="container">
	<h2>About Us</h2>

	<div class="row person tom">
		<div class="headshot col m4 s8 offset-s2"></div>
		<div class="description col m7 offset-m1 s12">
			<h4>Tom Gobich</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl augue, tempor a lacus quis, fringilla hendrerit massa. Nunc faucibus risus ligula, in fermentum urna sollicitudin ac. Proin in justo ut tellus suscipit tristique eget quis augue. Etiam at ornare quam, et vulputate tellus. Etiam placerat congue nisi, at sagittis tortor vehicula in. Integer venenatis lobortis metus, sed pretium augue bibendum sodales. Aliquam interdum quis lectus non ultricies. Fusce interdum porttitor nulla, sit amet feugiat orci congue eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis mattis urna eget commodo. Vestibulum nec nibh.</p>
			<div class="links">
				<a href="#">Link to Porfolio</a>
				<a href="https://github.com/tomgobich">Link to GitHub</a>
			</div>
		</div>
	</div>

	<div class="row person john">
		<div class="headshot col m4 s8 offset-s2"></div>
		<div class="description col m7 s12">
			<h4>John Patterson</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl augue, tempor a lacus quis, fringilla hendrerit massa. Nunc faucibus risus ligula, in fermentum urna sollicitudin ac. Proin in justo ut tellus suscipit tristique eget quis augue. Etiam at ornare quam, et vulputate tellus. Etiam placerat congue nisi, at sagittis tortor vehicula in. Integer venenatis lobortis metus, sed pretium augue bibendum sodales. Aliquam interdum quis lectus non ultricies. Fusce interdum porttitor nulla, sit amet feugiat orci congue eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis mattis urna eget commodo. Vestibulum nec nibh.</p>
			<div class="links">
				<a href="#">Link to Porfolio</a>
				<a href="https://github.com/johncpatterson">Link to GitHub</a>
			</div>
		</div>
	</div>

	<div class="row person kristie">
		<div class="headshot col m4 s8 offset-s2"></div>
		<div class="description col m7 offset-m1 s12">
			<h4>Kristie Bedgood</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl augue, tempor a lacus quis, fringilla hendrerit massa. Nunc faucibus risus ligula, in fermentum urna sollicitudin ac. Proin in justo ut tellus suscipit tristique eget quis augue. Etiam at ornare quam, et vulputate tellus. Etiam placerat congue nisi, at sagittis tortor vehicula in. Integer venenatis lobortis metus, sed pretium augue bibendum sodales. Aliquam interdum quis lectus non ultricies. Fusce interdum porttitor nulla, sit amet feugiat orci congue eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis mattis urna eget commodo. Vestibulum nec nibh.</p>
			<div class="links">
				<a href="#">Link to Porfolio</a>
				<a href="https://github.com/KBedgood">Link to GitHub</a>
			</div>
		</div>
	</div>

	<div class="row person michael">
		<div class="headshot col m4 s8 offset-s2"></div>
		<div class="description col m7 s12">
			<h4>Michael Savoia</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl augue, tempor a lacus quis, fringilla hendrerit massa. Nunc faucibus risus ligula, in fermentum urna sollicitudin ac. Proin in justo ut tellus suscipit tristique eget quis augue. Etiam at ornare quam, et vulputate tellus. Etiam placerat congue nisi, at sagittis tortor vehicula in. Integer venenatis lobortis metus, sed pretium augue bibendum sodales. Aliquam interdum quis lectus non ultricies. Fusce interdum porttitor nulla, sit amet feugiat orci congue eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis mattis urna eget commodo. Vestibulum nec nibh.</p>
			<div class="links">
				<a href="#">Link to Porfolio</a>
				<a href="https://github.com/MichaelSavoia">Link to GitHub</a>
			</div>
		</div>
	</div>
</div>