<link rel="stylesheet" type="text/css" href="dist/css/about.css">
<!-- header -->
<div class="header z-depth-3">
  <div class="row">
    <ul class="headerList right-align">
      <li class="valign-wrapper"><a href="#/home">Home</a></li>
      <li class="valign-wrapper">
        <div ng-controller="CLogout as logout">
          <a class="logout" ng-click="logout.logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- header -->
<div class="row no-margin intro">
  <div class="container">
    <div class="row">
    <div class="col s12">
      <h2 class="title">Dev Team</h2>
      <h5 id="projectDescription">Our Front-End Web Development graduates at The Iron Yard (Cincinnati) are proud to present you with this mobile application! Below are the payroll seekers who lovingly coded this application (from wireframes to writing all of the code). Cheers!</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row no-margin">
    <div class="person tom col s12 m6">
      <div class="headshot"></div>
      <div class="description">
        <h4>Tom Gobich</h4>
        <div class="links">
          <a class="iconLinks" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>  portfolio</a>
          <a class="iconLinks" href="https://github.com/tomgobich"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
        </div>
        <p>Tom is a Front-end Developer and a graduate from The Iron Yard. Aside from being a Front-end Developer, Tom also has educational experience with design and back-end technologies. He is a lover of technology (especially smartphones), a Sudoku guru, frequent Battlefielder, and continuous learner.</p>
      </div>
    </div>
    <div class="person john col s12 m6">
      <div class="headshot"></div>
      <div class="description">
        <h4>John Patterson</h4>
        <div class="links">
          <a class="iconLinks" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>  portfolio</a>
          <a class="iconLinks" href="https://github.com/johncpatterson"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
        </div>
        <p>John was born and raised in Cincinnati, OH. He has a passion for technology and his passion lead him to The Iron Yard to pursue a career in technology. He is currently looking to put that passion to work with a great company. John also enjoys music, sports, and hanging with his wife and new baby girl.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="person kristie  col s12 m6">
      <div class="headshot"></div>
      <div class="description">
        <h4>Kristie Bedgood</h4>
        <div class="links">
          <a class="iconLinks" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>  portfolio</a>
          <a class="iconLinks" href="https://github.com/KBedgood"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
        </div>
        <p>Kristie was born and raised in Mt. Healthy (H-Town! Go Owls!). She is a designer and boasts over 20 years graphic design experience with a focus on CPG (consumer packaged goods) and the Beauty Care industries. As a recent graduate of The Iron Yard, her new coding skills in front-end web development brings her a step closer to transforming into the much sought after industry unicorn.</p>
      </div>
    </div>
    <div class="person michael col s12 m6">
      <div class="headshot"></div>
      <div class="description">
        <h4>Michael Savoia</h4>
        <div class="links">
          <a class="iconLinks" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>  portfolio</a>
          <a class="iconLinks" href="https://github.com/MichaelSavoia"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
        </div>
        <p>Michael is a graduate from the Iron Yard who was raised on the other side of the river in northern Kentucky. He was previously a graphic design student at Northern Kentucky University who found a passion for web development. Michael enjoys traveling and finding new places to explore in his community.</p>
      </div>
    </div>
  </div>
</div>
