<link rel="stylesheet" href="dist/css/landingpage.css">

<div class="landingpage-wrapper">
  <div class="row">
    <div class="background-image">
      <div class="col s12 m10 offset-m1 l8 offset-l2 top-box" id="top-box-mobile">
        <div class="main-info">
          <div class="row">
            <div class="col s12">
              <img src="/images/fountainSquare_logo.svg" alt="Fountain Square Logo" class="fs-logo">
              <div class="main-info-content">
                <img src="/images/huntingtonLogo_white.png" alt="Huntington Bank" class="hunt-logo responsive-img">
                <h3 class="presents">proudly presents</h3>
                <h3 class="invited">New Year&rsquo;s Blast on Fountain Square</h3>
                <h3 class="location">December 31, 2016 @ 8PM</h3>
                <img src="/images/NYE513.png" alt="NYE513" class="nye-logo responsive-img">
                <h6 class="slogan">Sign Up. Show Up. Spread Cheer!</h6>
                <div class="row">
                  <div class="col s12 m10 offset-m1">
                    <div class="event-info">
                      <p>Sign up to use our app during the Huntington Bank New Year&rsquo;s Blast on Fountain Square to engage in fun and games while ringing in the New Year. If you’d like to know more about The Iron Yard front-end web development graduates or our work, please join us on <a href="https://www.eventbrite.com/e/the-iron-yard-demo-day-tickets-28835784608?aff=demoday2" target="_blank" class="demo-day-link">Demo Day</a> to see what we’ve been up to.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2 remove-padding">
          <div class="social-info">
            <div class="row" id="social-info-mobile">
              <div ng-show="controller.isLoggedIn()">
                <p class="thank-you">Thank you for signing up – please check back often for updates!</p>
                <div class="col s12 center"><a href="https://twitter.com/intent/tweet?button_hashtag=NYE513" class="twitter-hashtag-button" data-size="large" data-show-count="false">Tweet #NYE513</a>
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="fb-like col s12 center fakebook" data-href="http://www.nye513.com" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true">
                </div>
              </div>
              <div class="social-info-content" ng-hide="controller.isLoggedIn()">
                <p class="early-access">Please sign up for access to our event application!</p>
                <!-- Social Media Buttons -->
                <!-- Facebook Sign in -->
                <div class="col s12 m6">
                  <div class="social-logins">
                    <button ng-click="controller.authenticate('facebook')" class="btn waves-effect waves-light facebook button-border-radius"><i class="fa fa-facebook" aria-hidden="true"></i>Sign in with Facebook</button>
                  </div>
                </div>
                <!-- Twitter Sign in -->
                <div class="col s12 m6">
                  <div class="social-logins">
                    <button ng-click="controller.authenticate('twitter')" class="btn waves-effect waves-light twitter button-border-radius"><i class="fa fa-twitter" aria-hidden="true"></i>Sign in with Twitter</button>
                  </div>
                </div>
                <!-- Get Updates from TIY -->
                <div class="col s12">
                  <p class="update-agreement">
                    <input type="checkbox" id="updates" ng-model="controller.user.getUpdates" />
                    <label for="updates">Yep! Keep me updated on all things The Iron Yard.</label>
                  </p>
                  <p class="email">Or signup/login using email below</p>
                </div>
                <!-- Signup / Login toggle -->
                <div class="col s12">
                  <div class="toggle-wrap">
                    <ul class="login-toggle" ng-class="{'active': controller.showLogin}">
                      <li class="toggle-tab" ng-click="controller.showLogin = false" ng-class="{'active': !controller.showLogin}">Sign Up</li>
                      <li class="toggle-tab" ng-click="controller.showLogin = true" ng-class="{'active': controller.showLogin}">Login</li>
                    </ul>
                  </div>
                </div>
                <!-- Signup Form -->
                <div class="col s12" ng-show="!controller.showLogin">
                  <form novalidate class="signup-form" name="signupForm" ng-submit="controller.signup(signupForm.$valid)">
                    <!-- Name -->
                    <div class="input-field">
                      <input id="name" 
                             type="text" 
                             class="validate" 
                             name="name" 
                             ng-model="controller.user.displayName" 
                             ng-pattern="/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u" 
                             ng-minlength="1" 
                             ng-maxlength="50" 
                             required>
                      <label for="name">Name</label>
                      <!-- Input Errors -->
                      <div class="help-block" 
                           ng-messages="signupForm.name.$error" 
                           ng-if="signupForm.name.$touched">
                        <span class="input-error" ng-message="pattern">Invalid characters in name.</span>
                        <span class="input-error" ng-message="minlength">Name is too short.</span>
                        <span class="input-error" ng-message="maxlength">Name is too long.</span>
                        <span class="input-error" ng-message="required">Your name is required.</span>
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="input-field">
                      <input id="email" 
                             type="email" 
                             class="validate" 
                             name="email" 
                             ng-model="controller.user.email" 
                             ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" 
                             ng-minlength="5" 
                             ng-maxlength="50" 
                             required>
                      <label for="email">Email</label>
                      <!-- Input Errors -->
                      <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
                        <span class="input-error" ng-message="pattern">Please enter a valid email</span>
                        <span class="input-error" ng-message="minlength">Email is too short.</span>
                        <span class="input-error" ng-message="maxlength">Email is too long.</span>
                        <span class="input-error" ng-message="required">Your email is required.</span>
                      </div>
                    </div>
                    <!-- Password 1 -->
                    <div class="input-field">
                      <input id="password" 
                             type="password" 
                             class="validate" 
                             name="password" 
                             ng-model="controller.user.password" 
                             ng-minlength="6" 
                             ng-maxlength="50" 
                             required>
                      <label for="password">Password</label>
                      <!-- Input Errors -->
                      <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                        <span class="input-error" ng-message="minlength">Password is too short.</span>
                        <span class="input-error" ng-message="maxlength">Password is too long.</span>
                        <span class="input-error" ng-message="required">Your password is required.</span>
                      </div>
                    </div>
                    <!-- Password 2 (Match Check) -->
                    <div class="input-field">
                      <input password-match="controller.user.password" 
                             id="confirmPassword" 
                             type="password" 
                             class="validate" 
                             name="passwordMatch" 
                             ng-model="controller.confirmPassword" 
                             ng-minlength="6" 
                             ng-maxlength="50" 
                             required>
                      <label for="confirmPassword">Confirm Password</label>
                      <!-- Input Error -->
                      <span ng-show="!signupForm.passwordMatch.$valid && signupForm.passwordMatch.$dirty" class="input-error">Passwords must match</span>
                    </div>
                    <!-- Submit Button -->
                    <button class="btn waves-effect waves-light submit col s12 m6 offset-m3 button-border-radius signup-button" type="submit" name="action">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Signup
                    </button>
                  </form>
                </div>
                <!-- /signupForm -->
                <!-- Login Form -->
                <div class="col s12" ng-show="controller.showLogin">
                  <form novalidate class="login-form" name="loginForm" ng-submit="controller.login(loginForm.$valid, loginForm)">
                    <!-- Email -->
                    <div class="input-field">
                      <input id="email" 
                             type="email" 
                             class="validate" 
                             name="email"
                             ng-model="controller.user.email"
                             ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                             ng-minlength="5"
                             ng-maxlength="50"
                             required>
                      <label for="email">Email</label>
                      <span ng-show="!loginForm.email.$valid && loginForm.email.$dirty" class="input-error">Please enter a valid email</span>
                    </div>
                    <!-- Password -->
                    <div class="input-field">
                      <input id="password" 
                             type="password" 
                             class="validate" 
                             name="password"
                             ng-model="controller.user.password"
                             ng-minlength="6"
                             ng-maxlength="50"
                             required>
                      <label for="password">Password</label>
                      <span ng-show="!loginForm.password.$valid && loginForm.password.$dirty" class="input-error">Password is invalid</span>
                    </div>
                    <!-- Submit Button -->
                    <button class="btn waves-effect waves-light submit col s12 m6 offset-m3 button-border-radius signup-button" type="submit" name="action">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Login
                    </button>
                  </form>
                </div>
                <!-- /loginForm -->
                <div class="tweet-us">
                  <p>Tweet to us using #NYE513</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="col s12 container-fluid">
  <div class="container">
    <div class="row no-margin">
      <div class="col s12 countdown-clock">
        <h1 class="countdown-title">Countdown to 2017</h1>
        <clocklanding class="clock-display-landing hide-on-small-only"></clocklanding>
        <clock class="hide-on-med-and-up"></clock>
        <div class="col s12 countdown-credit">
          <p class="tiy-credit"> This application was developed by The Iron Yard Front-End Web Development graduates of Cohort 2. Available for hire January 2017. Wink, wink – cheers! For site issues or general inquiries, please <a href="mailto:support@nye513.com">click here</a> to contact our dev team.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="col s12 sponsors">
  <div class="container">
    <div class="row no-margin">
      <div class="col s12 m6 sponsor-info iron-yard-sponsor">
        <div class="col s12 sponsor-logo-container">
          <!-- <div class="col s6 offset-s3"> -->
          <a href="https://www.theironyard.com/cincinnati" target="_blank"><img src="/images/TIY-Logo-500px.png" alt="iron-yard-logo" class="sponsor-image responsive-img"></a>
          <!-- iron-yard-logo -->
          <!-- </div> -->
        </div>
        <div class="col s12 sponsor-content">
          <h5 class="address"> <a href="https://www.google.com/maps/place/214+E+8th+St,+Cincinnati,+OH+45202/@39.1053073,-84.5121242,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b159bacb30c1:0xc10688a8b6b617a0!8m2!3d39.1053073!4d-84.5099355" target="_blank">212-214 East Eighth Street, 2nd Floor</a></h5>
          <h5 class="address">Cincinnati, OH 45202 &nbsp; | &nbsp; <a href="tel:513-301-2875">(513) 301-2875</a></h5>
        </div>
        <ul class="social-links">
          <a href="https://twitter.com/theironyard?lang=en">
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          </a>
          <a href="https://www.facebook.com/The-Iron-Yard-Cincinnati-698454486961891/?fref=ts">
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          </a>
        </ul>
      </div>
      <div class="col s12 m6 sponsor-info 3cdc-sponsor">
        <div class="col s12 sponsor-logo-container">
          <!-- <div class="col s6 offset-s3"> -->
          <a href="http://myfountainsquare.com/event/new-years-eve-blast-2/" target="_blank"><img src="/images/FSQ_Logo_Blue_FountainSquare.png" alt="fountain-square-logo" class="sponsor-image fountain-square responsive-img"></a>
          <!-- 3cdc-logo -->
          <!-- </div> -->
        </div>
        <div class="col s12 sponsor-content">
          <h5 class="address"><a href="https://www.google.com/maps/place/Fountain+Square/@39.1016003,-84.5144646,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b3d47410517d:0xc6a5ed3b78ebe61a!8m2!3d39.1015962!4d-84.5122759" target="_blank">520 Vine Street</a></h5>
          <h5 class="address">Cincinnati, OH 45202</h5>
        </div>
        <ul class="social-links">
          <a href="https://twitter.com/myfountainsqr">
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          </a>
          <a href="https://www.facebook.com/MyFountainSquare/">
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
