<div class="container">
  <div class="row">
    <div class="col s12 background-image">
      <div class="container intro">
        <h3>You're Invited</h3>
        <h1>#NYE513</h1>
        <h3>FOUNTAIN SQUARE DECEMBER 31, 2016 @ 8PM</h3>
        <h6>SIGN UP. SHOW UP. SPREAD CHEER!</h6>
        <p>Sign up to use our app during the #NYE513 event on Fountain Square to engage in fun and games while ringing in the New Year in Cincinnati. If you’d like to know more about The Iron Yard Front-End Web Development graduates or our work, please join us on Demo Day to see what we’ve been up to.</p>
      </div>
      <div class="container social">
      <p>Sign up for EARLY ACCESS to our #NYE513 event application!</p>
      <button ng-click="controller.authenticate('facebook')" class="btn">Sign up with Facebook</button>		<!-- Facebook Sign in -->
			<button ng-click="controller.authenticate('twitter')" class="btn">Sign up with Twitter</button>			<!-- Twitter Sign in -->
			<!-- Signup Form -->
			<form novalidate name="signupForm" ng-submit="controller.signup(signupForm.$valid)">
				<!-- Name -->
				<div class="input-field col s6">
			    <input id="name" 
			    			 type="text" 
			    			 class="validate"
			    			 name="name" 
			    			 ng-model="controller.user.displayName"
			    			 ng-pattern="/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u"
			    			 ng-minlength="1"
			    			 ng-maxlength="50"
			    			 required>
			    <label for="name">Name</label>
			    <!-- Input Errors -->
			    <div class="help-block" ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched">
			    	<span class="input-error" ng-message="pattern">Invalid characters in name.</span>
				    <span class="input-error" ng-message="minlength">Name is too short.</span>
				    <span class="input-error" ng-message="maxlength">Name is too long.</span>
				    <span class="input-error" ng-message="required">Your name is required.</span>
			    </div>
			  </div>
			  <!-- Email -->
				<div class="input-field col s6">
			    <input id="email" 
			    			 type="email" 
			    			 class="validate" 
			    			 name="email"
			    			 ng-model="controller.user.email"
			    			 ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
			    			 ng-minlength="5"
			    			 ng-maxlength="50"
			    			 required>
			    <label for="email">Email</label>
			    <!-- Input Errors -->
			    <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
			    	<span class="input-error" ng-message="pattern">Please enter a valid email</span>
				    <span class="input-error" ng-message="minlength">Email is too short.</span>
				    <span class="input-error" ng-message="maxlength">Email is too long.</span>
				    <span class="input-error" ng-message="required">Your email is required.</span>
			    </div>
			  </div>
			  <!-- Password 1 -->
			  <div class="input-field col s6">
			    <input id="password" 
			    			 type="password" 
			    			 class="validate" 
			    			 name="password"
			    			 ng-model="controller.user.password"
			    			 ng-minlength="6"
			    			 ng-maxlength="50"
			    			 required>
			    <label for="password">Password</label>
			    <!-- Input Errors -->
			    <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
				    <span class="input-error" ng-message="minlength">Password is too short.</span>
				    <span class="input-error" ng-message="maxlength">Password is too long.</span>
				    <span class="input-error" ng-message="required">Your password is required.</span>
			    </div>
			  </div>
			  <!-- Password 2 (Match Check) -->
			  <div class="input-field col s6">
			    <input password-match="controller.user.password" 
			    			 id="confirmPassword" 
			    			 type="password" 
			    			 class="validate"
			    			 name="passwordMatch" 
			    			 ng-model="controller.confirmPassword"
			    			 ng-minlength="6"
			    			 ng-maxlength="50"
			    			 required>
			    <label for="confirmPassword">Confirm Password</label>
			    <!-- Input Error -->
			    <span ng-show="!signupForm.passwordMatch.$valid && signupForm.passwordMatch.$dirty" class="input-error">Passwords must match</span>
			  </div>
			  <!-- Submit Button -->
			  <button class="btn waves-effect waves-light" type="submit" name="action">
			  	Submit
			    <i class="material-icons right">send</i>
			  </button>
			</form>
			<!-- /signupForm -->
			
      </div>
    </div>
    <div class="col s12 countdown-clock">
      <h1></h1>
    </div>
    <div class="col s12 sponsors">
      <h1></h1>
    </div>
  </div>
</div>
