@import 'bourbon/bourbon';

// --------------------------------------------------
// Variables
// --------------------------------------------------




// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin displayInlineBlock() {
	display: inline-block;
	vertical-align: top;
}



// --------------------------------------------------
// Global Styles
// --------------------------------------------------
* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6em;
}

img {
	max-width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Toast Styles
.toast-success {
	background-color: green;
}

.toast-error {
	background-color: red;
}

.toast-info {
	background-color: blue;
}

.toast-warning {
	background-color: orange;
}



// --------------------------------------------------
// Header Styles
// --------------------------------------------------
@import '_header.scss';



// --------------------------------------------------
// Footer Styles
// --------------------------------------------------
@import '_footer.scss';



// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';