@import 'bourbon/bourbon';

// --------------------------------------------------
// Variables
// --------------------------------------------------




// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin displayInlineBlock() {
	display: inline-block;
	vertical-align: top;




// --------------------------------------------------
// Global Styles
// --------------------------------------------------
* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6em;
}

img {
	max-width: 100%;
}



// --------------------------------------------------
// Header Styles
// --------------------------------------------------
@import '_header.scss';



// --------------------------------------------------
// Footer Styles
// --------------------------------------------------
@import '_footer.scss';



// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';